<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StockMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logger</display-name>
    <servlet-name>Logger</servlet-name>
    <servlet-class>Logger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logger</servlet-name>
    <url-pattern>/Logger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDetails</display-name>
    <servlet-name>ChangeDetails</servlet-name>
    <servlet-class>ChangeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDetails</servlet-name>
    <url-pattern>/ChangeDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTransaction</display-name>
    <servlet-name>NewTransaction</servlet-name>
    <servlet-class>NewTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTransaction</servlet-name>
    <url-pattern>/NewTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarketStats</display-name>
    <servlet-name>MarketStats</servlet-name>
    <servlet-class>MarketStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarketStats</servlet-name>
    <url-pattern>/MarketStats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PastTransactions</display-name>
    <servlet-name>PastTransactions</servlet-name>
    <servlet-class>PastTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PastTransactions</servlet-name>
    <url-pattern>/PastTransactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelOrder</display-name>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/CancelOrder</url-pattern>
  </servlet-mapping>
</web-app>